/* custom.css */

ul {
    font-size: 28px;
}

li {
    font-size: 28px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}


.small-text ul, .small-text li {
  font-size: 24px; 
}

.small-text h3 {
    font-size: 36px;
}

.large-text ul, .large-text li {
  font-size: 36px; 
}